altair==5.4.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.5.2
attrs==25.3.0
auto-py-to-exe==2.46.0
autobahn==23.1.2
Automat==24.8.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.13.4
blinker==1.8.2
bottle==0.13.4
bottle-websocket==0.2.9
cachetools==5.5.2
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
chromedriver-autoinstaller==0.6.4
click==8.1.8
colorama==0.4.6
constantly==23.10.4
cryptography==45.0.5
dataclasses==0.6
dateparser==1.2.2
dhanhq==2.0.2
distro==1.9.0
Eel==0.18.2
et_xmlfile==2.0.0
exceptiongroup==1.3.0
fancycompleter==0.11.1
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.40.3
google-auth-oauthlib==1.2.2
greenlet==3.1.1
gspread==6.2.1
h11==0.16.0
halo==0.0.31
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
incremental==24.7.2
Jinja2==3.1.6
jiter==0.9.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
log-symbols==0.0.14
logging==0.4.9.6
lxml==6.0.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mibian==0.1.3
narwhals==1.42.1
nsepy==0.8
numpy==1.24.4
oauth2client==4.1.3
oauthlib==3.3.1
openai==1.101.0
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.2
pandas==2.0.3
pandas_ta==0.3.14b0
pdbpp==0.11.6
pefile==2023.2.7
pillow==10.4.0
pkgutil_resolve_name==1.3.10
plyer==2.1.0
protobuf==5.29.5
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.19.2
PyHamcrest==2.1.0
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.5
pyOpenSSL==25.1.0
pyparsing==3.1.4
pyreadline3==3.5.4
pyrepl==0.11.3.post1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-telegram-bot==21.6
pytz==2025.2
pywin32==310
pywin32-ctypes==0.2.3
referencing==0.35.1
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
rich==13.9.4
rpds-py==0.20.1
rsa==4.9.1
scipy==1.10.1
selenium==4.27.1
six==1.17.0
smartapi-python==1.5.5
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
spinners==0.0.24
streamlit==1.40.1
ta==0.11.0
TA-Lib @ file:///C:/Users/Om%20DiGi/Downloads/2.%20Session2%20-%20Installation/2.%20Session2%20-%20Installation/TA_Lib-0.4.24-cp38-cp38-win_amd64.whl#sha256=26d934a971a39a18e265f8b5999eb1a7d6c8fb8fca36a88881fcbb05d6138bc4
tapy==1.9.1
tenacity==9.0.0
termcolor==2.4.0
toml==0.10.2
tomli==2.2.1
tornado==6.4.2
tqdm==4.67.1
trio==0.27.0
trio-websocket==0.12.2
Twisted @ file:///C:/Users/Om%20DiGi/Downloads/2.%20Session2%20-%20Installation/2.%20Session2%20-%20Installation/Twisted-20.3.0-cp38-cp38-win_amd64.whl#sha256=f7fb6cab58c306154b92bfc95016c93c2c6a12986b93944c35dd682ec0e3bffb
txaio==23.1.1
typing==3.7.4.3
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.2
urllib3==2.2.3
watchdog==4.0.2
websocket-client==1.8.0
websockets==13.1
wsproto==1.2.0
xlrd==2.0.2
xlwings==0.31.10
zipp==3.20.2
zope.event==5.0
zope.interface==7.2
